<div class="post-body">
	<h2 class="post-title">Recent Posts</h2>

	{{#each content.items as |post| ~}}
		<a class="browse-summary" href="/{{post.id}}">
			<div>
			{{post.title}}
			<br>
			{{post.date}}
			</div>
		</a>
	{{/each~}}
</div>
